.dialog-buttons {
    margin-left: 0 !important;
}

.title {
    padding: 0 !important;
    padding-top: 30px !important;
    background-color: #fff !important;
    font-size: 14px;
    color: #343434;
    padding-left: 41px !important;
    padding-right: 60px !important;
}

.close {
    position: absolute;
    margin: 0 !important;
    right: 20px;
    top: 8px;
}

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}