<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="userfactor-tree">
    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodeToggle
                   matTreeNodePadding
                   class="tree-node-category">
        <span class="pointer node-step">
            <mat-checkbox color="primary"
                          [checked]="node?.selected"
                          [disabled]="node?.intLinks && node.intLinks.length === 0"
                          (change)="handleSelectChange($event, node)">
                {{node?.name}}
            </mat-checkbox>
        </span>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                   matTreeNodePadding>
        <div class="node-category">
            <div class="node-category-content">
                <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name"
                    class="tree-toggle pointer">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'arrow_drop_up' : 'arrow_drop_down'}}
                    </mat-icon>
                </button>
                <span matTreeNodeToggle class="category-text pointer">{{node.name}}</span>
            </div>
        </div>
    </mat-tree-node>
</mat-tree>