<div class="header-modal">
    <div class="title">Change password</div>
    <div class="close">
        <i class="material-icons close-icon pointer" (click)="onNoClick(false)">close</i>
    </div>
</div>

<div class="container-modal" [formGroup]="forms">
    <div class="input-container">
        <div class="label-input">Old password</div>
        <input type="password" formControlName="oldPassword">
    </div>
    <div class="input-container">
        <div class="label-input">New password</div>
        <input type="password" formControlName="newPassword">
    </div>
    <div class="input-container">
        <div class="label-input">Retype password</div>
        <input type="password" formControlName="retypePassword">
    </div>
    <div class="error-hint">{{message$ | async}}</div>
</div>
<mat-dialog-actions class="dialog-buttons">
    <button mat-button
            class="confirm"
            [disabled]="forms.invalid"
            (click)="confirm()">
        Confirm
    </button>
    <button mat-button class="discard" [mat-dialog-close]="true" (click)="onNoClick(false)">Cancel</button>
</mat-dialog-actions>